Web References/RefSSOMapping/SSOMapping.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRedirect">
        <s:complexType />
      </s:element>
      <s:element name="GetRedirectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRedirectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IAM_ServiceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IAM_SESSION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IAM_KEYID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginInfoResult" type="tns:ReturnSSOInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReturnSSOInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="info" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRedirectSoapIn">
    <wsdl:part name="parameters" element="tns:GetRedirect" />
  </wsdl:message>
  <wsdl:message name="GetRedirectSoapOut">
    <wsdl:part name="parameters" element="tns:GetRedirectResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginInfo" />
  </wsdl:message>
  <wsdl:message name="GetLoginInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="SSOMappingSoap">
    <wsdl:operation name="GetRedirect">
      <wsdl:input message="tns:GetRedirectSoapIn" />
      <wsdl:output message="tns:GetRedirectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginInfo">
      <wsdl:input message="tns:GetLoginInfoSoapIn" />
      <wsdl:output message="tns:GetLoginInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SSOMappingSoap" type="tns:SSOMappingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRedirect">
      <soap:operation soapAction="http://tempuri.org/GetRedirect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginInfo">
      <soap:operation soapAction="http://tempuri.org/GetLoginInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SSOMappingSoap12" type="tns:SSOMappingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRedirect">
      <soap12:operation soapAction="http://tempuri.org/GetRedirect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginInfo">
      <soap12:operation soapAction="http://tempuri.org/GetLoginInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SSOMapping">
    <wsdl:port name="SSOMappingSoap" binding="tns:SSOMappingSoap">
      <soap:address location="http://localhost:50004/SSOMapping.asmx" />
    </wsdl:port>
    <wsdl:port name="SSOMappingSoap12" binding="tns:SSOMappingSoap12">
      <soap12:address location="http://localhost:50004/SSOMapping.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>